.primary{
    width:250px;
    height: 50px;
    border-radius: 10px;
    background-color: burlywood;
}

.secondary{
    width:80px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(90, 130, 206);
}